{% extends "base.html" %} {% block title %} {{ super() }}{% endblock %} {% block
head %} {{ super() }}
<link rel="stylesheet" href="/static/styles/banner.css" />

{% endblock %} {% block content %}

<header class="banner">
  <!-- <div class="container"> -->
  <!-- style="background-image: url({{imageURL}}{{banner_path}})";> -->
  <iframe
    class="banner_trailer"
    width="100%"
    height="500"
    src="{{'https://www.youtube.com/embed/' ~ banner['trailer'] ~ '?autoplay=1&mute=1&playlist=' ~ banner['trailer'] ~ '&loop=1'}}"
    frameborder="0"
  ></iframe>

  <div class="banner_contents">
    <h1 class="banner_title">{{ banner['title'] }}</h1>
    <!-- 
    <div class="banner_buttons">
      <button class="banner_button">Play</button>
      <button class="banner_button">My List</button>
    </div> -->

    <div class="banner_description">
      {{ banner['overview']|truncate(150, False, '...', 0) }}
    </div>
  </div>

  <!-- </div> -->
</header>

<div class="hidden">
  <div class="close">
    <span
      onclick="this.parentElement.parentElement.className = 'hidden';
      document.getElementsByClassName('trailer')[0].innerHTML='';"
      >X</span
    >
  </div>

  <div class="trailer">
  </div>

  <div class="details">
    <span class="year"></span>
    <span class="runtime"></span>
    <span class="rating"></span>
  </div>

  <div class="cast"></div>

  <div class="genres"></div>

  <div class="overview"></div>

  <div class="script">
    <img class="script-img" src="" alt="" />
    <div class="no-script"></div>
  </div>
</div>

<div class="row">
  <span class="genre">Trending</span>
  <div class="row_posters">
    {% for trending_movie in trending %} <img id='{{ trending_movie['id'] }}'
    onclick = "select(this)" class="row_poster" src="{{ imageURL ~ 'w500' ~
    trending_movie['poster_path'] }}" alt="{{ trending_movie['title'] }}"
    style="max-height: 300px" /> {% endfor %}
  </div>
</div>

<div class="row">
  <span class="genre">Comedy</span>
  <div class="row_posters">
    {% for movie in movie_collection['Comedy'] %} <img id ='{{ movie['id'] }}'
    onclick="select(this, 'movie')" class="row_poster" src='{{ imageURL ~ 'w500'
    ~ movie['poster_path'] }}' alt='{{ movie['title'] }}'> {% endfor %} {% for
    show in tv_collection['Comedy'] %} <img id ='{{ show['id'] }}'
    onclick="select(this, 'tv')" class="row_poster" src='{{ imageURL ~ 'w500' ~
    show['poster_path'] }}' alt='{{ show['name'] }}'> {% endfor %}
  </div>
</div>

<div class="row">
  <span class="genre">Action</span>
  <div class="row_posters">
    {% for movie in movie_collection['Action'] %} <img id ='{{ movie['id'] }}'
    onclick="select(this, 'movie')" class="row_poster" src='{{imageURL ~ 'w500'
    ~ movie['poster_path'] }}' alt='{{ movie['title'] }}'> {% endfor %} {% for
    show in tv_collection['Action'] %} <img id ='{{ show['id'] }}'
    onclick="select(this, 'tv')" class="row_poster" src='{{ imageURL ~ 'w500' ~
    show['poster_path'] }}' alt='{{ show['name'] }}'> {% endfor %}
  </div>
</div>

<div class="row">
  <span class="genre">Romance</span>
  <div class="row_posters">
    {% for movie in movie_collection['Romance'] %} <img id ='{{ movie['id'] }}'
    onclick="select(this, 'movie')" class="row_poster" src='{{ imageURL ~ 'w500'
    ~ movie['poster_path'] }}' alt='{{ movie['title'] }}'> {% endfor %} {% for
    show in tv_collection['Romance'] %} <img id ='{{ show['id'] }}'
    onclick="select(this, 'tv')" class="row_poster" src='{{ imageURL ~ 'w500' ~
    show['poster_path'] }}' alt='{{ show['name'] }}'> {% endfor %}
  </div>
</div>

<div class="row">
  <span class="genre">Family</span>
  <div class="row_posters">
    {% for movie in movie_collection['Family'] %} <img id ='{{ movie['id'] }}'
    onclick="select(this, 'movie')" class="row_poster" src='{{ imageURL ~ 'w500'
    ~ movie['poster_path'] }}' alt='{{ movie['title'] }}'> {% endfor %} {% for
    show in tv_collection['Family'] %} <img id ='{{ show['id'] }}'
    onclick="select(this, 'tv')" class="row_poster" src='{{ imageURL ~ 'w500' ~
    show['poster_path'] }}' alt='{{ show['name'] }}'> {% endfor %}
  </div>
</div>

<div class="row">
  <span class="genre">Drama</span>
  <div class="row_posters">
    {% for movie in movie_collection['Drama'] %} <img id ='{{ movie['id'] }}'
    onclick="select(this, 'movie')" class="row_poster" src='{{ imageURL ~ 'w500'
    ~ movie['poster_path'] }}' alt='{{ movie['title'] }}'> {% endfor %} {% for
    show in tv_collection['Drama'] %} <img id ='{{ show['id'] }}'
    onclick="select(this, 'tv')" class="row_poster" src='{{ imageURL ~ 'w500' ~
    show['poster_path'] }}' alt='{{ show['name'] }}'> {% endfor %}
  </div>
</div>

{{ super() }} {% endblock %}
