{% extends "base.html" %}
{% block title %}Show me the Movie{% endblock %}
{% block head %}
{{ super() }}

<link rel="stylesheet" href="/static/styles.css">

{% endblock %}
{% block content %}


{% for genres, movies in collection.items() %}


<div class='row'>
    <h3>{{genres}}</h3>
    <div class="row_posters">
        
        
            {% for movie in movies %}
            <!-- <h4>{{movie['title']}}</h4> -->
            <img 
            id = '{{ movie['id'] }}'
            onclick="select(this)"
          
            class="row_poster" 
            src='{{imageURL ~ movie['poster_path']}}'
            alt='{{movie['title']}}'>
            {% endfor %}

    </div>
    
    <div class='hidden'>
        <div class='details'></div>

        <div class='genres'></div>

        <div class='overview'></div>

        <div class='script'>
            <img class='script-img' src="" alt="">
            <div class='no-script'></div>
        </div>
    </div>


</div>


{% endfor %}


<script src='/static/script.js'></script>


{% endblock %}


