{% extends "base.html" %} {% block title %}Show me the Movie{% endblock %} {%
block head %} {{ super() }}

<link rel="stylesheet" href="/static/styles/styles.css" />
<link rel="stylesheet" href="/static/styles/banner.css" />
<link rel="stylesheet" href="/static/styles/nav.css" />
{% endblock %} {% block content %}

<ul>
  <li>
    <img
      class="nav_logo"
      src="https://upload.wikimedia.org/wikipedia/commons/f/ff/Netflix-new-icon.png"
      alt=""
    />
  </li>

  <li><a href="#Home">Home</a></li>
  <li><a href="#Scripts">Scripts</a></li>
  <li style="margin-left: auto">
    <a href="#Search"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        width="30"
        height="30"
        viewBox="0 0 172 172"
        style="fill: #000000"
      >
        <g
          fill="none"
          fill-rule="nonzero"
          stroke="none"
          stroke-width="1"
          stroke-linecap="butt"
          stroke-linejoin="miter"
          stroke-miterlimit="10"
          stroke-dasharray=""
          stroke-dashoffset="0"
          font-family="none"
          font-weight="none"
          font-size="none"
          text-anchor="none"
          style="mix-blend-mode: normal"
        >
          <path d="M0,172v-172h172v172z" fill="none"></path>
          <g fill="#ffffff">
            <path
              d="M74.53333,17.2c-31.59642,0 -57.33333,25.73692 -57.33333,57.33333c0,31.59642 25.73692,57.33333 57.33333,57.33333c13.73998,0 26.35834,-4.87915 36.24766,-12.97839l34.23203,34.23203c1.43802,1.49778 3.5734,2.10113 5.5826,1.57735c2.0092,-0.52378 3.57826,-2.09284 4.10204,-4.10204c0.52378,-2.0092 -0.07957,-4.14458 -1.57735,-5.5826l-34.23203,-34.23203c8.09924,-9.88932 12.97839,-22.50768 12.97839,-36.24766c0,-31.59642 -25.73692,-57.33333 -57.33333,-57.33333zM74.53333,28.66667c25.39937,0 45.86667,20.4673 45.86667,45.86667c0,25.39937 -20.46729,45.86667 -45.86667,45.86667c-25.39937,0 -45.86667,-20.46729 -45.86667,-45.86667c0,-25.39937 20.4673,-45.86667 45.86667,-45.86667z"
            ></path>
          </g>
        </g>
      </svg>
      Search</a
    >
  </li>
</ul>

<header class="banner">
  <!-- <div class="container"> -->
  <!-- style="background-image: url({{imageURL}}{{banner_path}})";> -->
  <iframe
    class="banner_trailer"
    width="100%"
    height="500"
    src="{{'https://www.youtube.com/embed/' ~ banner_trailer ~ '?autoplay=1&mute=1&playlist=' ~banner_trailer~ '&loop=1'}}"
    frameborder="0"
  ></iframe>

  <div class="banner_contents">
    <h1 class="banner_title">{{ banner['title'] }}</h1>

    <!-- <div class="banner_buttons">
      <button class="banner_button">Play</button>
      <button class="banner_button">My List</button>
    </div> -->

    <div class="banner_description">{{ banner['overview'] }}</div>
  </div>

  <!-- </div> -->
</header>

<div class="row">
  <h4>Trending</h4>
  <div class="row_posters">
    {% for trending_movie in trending %} <img id='{{trending_movie['id']}}'
    onclick = "select(this)" class="row_poster" src="{{imageURL ~ 'w500' ~
    trending_movie['poster_path']}}" alt="" style="max-height: 400px" /> {%
    endfor %}
  </div>
</div>

{% for genres, movies in collection.items() %}

<div class="row">
  <h4>{{genres}}</h4>
  <div class="row_posters">
    {% for movie in movies %}
    <!-- <h4>{{movie['title']}}</h4> -->
    <img id = '{{ movie['id'] }}' onclick="select(this)" class="row_poster"
    src='{{imageURL ~ 'w500' ~ movie['poster_path']}}' alt='{{movie['title']}}'>
    {% endfor %}
  </div>

  <div class="hidden">
    <div class="close">
      <span
        onclick="this.parentElement.parentElement.className = 'hidden';this.parentElement.parentElement.lastElementChild.src='';"
        >X</span
      >
    </div>

    <div class="trailer">
      <iframe width="100%" height="390" src="" frameborder="0"></iframe>
    </div>

    <div class="details">
      <span class="year"></span>
      <span class="runtime"></span>
      <span class="rating"></span>
    </div>

    <div class="cast"></div>

    <div class="genres"></div>

    <div class="overview"></div>

    <div class="script">
      <img class="script-img" src="" alt="" />
      <div class="no-script"></div>
    </div>
  </div>
</div>

{% endfor %}

<script src="/static/script.js"></script>

{% endblock %}
