{% extends "base.html" %}
{% block title %}Show me the Movie{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    .important {
        color: #336699;
    }
</style>
{% endblock %}
{% block content %}
<h1>Show me the Movie</h1>
<p class="important">
    Short or Long?
</p>
    
<form action="/runtime" method="POST">
    <input type="radio" name="runtime" id="" value=0>
    <label for="">I'm very busy</label>
    <input type="radio" name="runtime" id="" value=1>
    <label for="">I have all the time in the world</label>

    <input type="submit" value="Submit">
</form>








{% endblock %}