ul {
  position: sticky;
  top: 0;
  list-style-type: none;
  margin-left: 10px;
  padding: 10px;
  overflow: hidden;
  background-color: black;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
}

li a {
  display: block;
  color: white;
  font-size: 0.9rem;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: dimgrey;
}

.nav_logo {
  display: block;
  /* position: fixed; */
  /* padding-bottom: 20px; */
  width: 50px;
  margin-right: 10px;
  /* object-fit: contain; */
  /* justify-content: space-between; */
}

.name {
  height: 10px;
  color: white;
  justify-content: flex-end;
  object-fit: contain;
}
